body{background-color:#FDF5E6;}
<style>
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #006400;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #7FFFD4;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 800px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type=text/css>
A:link {COLOR:#FF0000; TEXT-DECORATION:none;font-size:10pt;font-family:microsoft sans serif;}
A:visited {COLOR:#FFFFFF; TEXT-DECORATION:none;font-size:10pt;font-family:microsoft sans serif;}
A:hover {COLOR:#FF0000; TEXT-DECORATION:none;font-size:10pt;font-family:microsoft sans serif;}
body {font-family:microsoft sans serif; font-size:10pt;}
td {font-family:microsoft sans serif; font-size:10pt}
</style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #778899;
    text-align: left;
    padding: 8px;s
}

tr:nth-child(even) {
    background-color: #F0FFF0;
}
label {
  padding: 5px 15px;
  background-color: 86C6F4;
  border: thin solid 084594;
  border-radius: 10px;
  margin:5px;
  display: inline-block;}
input[type="radio"]:checked + label {
    background-color: darkblue;
    cursor: default;
    color: black;}
